/*-----------------------------------Acceuil---------------------------------*/

@media (max-width: 768px) {
  .B2B2 {
    height: 200vh;
    justify-content: left;
    text-align: left;
    min-width: 807px;
    flex-direction: column;
  }

  .imgShapes22 {
    background-image: none;
  }

  .bloc22 {
    flex-direction: column;
    width: 100%;
  }

  .leftContainer22 {
    justify-content: center;
    width: 100%;
  }

  .shape1 {
    left: 68px;
  }

  .shape2 {
    left: 30px;
  }

  .guy22 {
    width: 341px;
    margin-left: -36%;
  }

  .rightSide22{
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: -26%;
  }
}

@media (max-width: 440px) {
  .B2B2 {
    height: 200vh;
    justify-content: left;
    text-align: left;
    min-width: 129%;
    flex-direction: column;
  }

  .imgShapes22 {
    background-image: none;
  }

  .bloc22 {
    flex-direction: column;
    width: 100%;
  }

  .leftContainer22 {
    justify-content: center;
    width: 100%;
  }

  .shape1 {
    left: 68px;
  }

  .shape2 {
    left: 30px;
  }

  .guy22 {
    width: 341px;
    margin-left: 15%;
  }

  
}

@media (max-width: 440px) {
  .bloc3 {
    width: 123%;
  }

  .info3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin-right: 0px;
    margin-left: 0;
  }

  .bleu3 {
    font-size: 1.8rem;
  }

  .main3 {
    flex-direction: column;
  }

  .text3 {
    font-size: 0.7rem;
  }

  .icon3 img {
    width: 20%;
  }

  .pics3 {
    width: 50%;
    margin-left: 5vh;
  }

  .science3,
  .rocket3,
  .comp3,
  .graph3 {
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .info3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin-right: 0px;
    margin-left: 0;
  }

  .bleu3 {
    font-size: 1.8rem;
  }

  .main3 {
    flex-direction: column;
  }

  .text3 {
    font-size: 0.7rem;
  }

  .icon3 img {
    width: 20%;
  }

  .pics3 {
    width: 50%;
    margin-left: 5vh;
  }

  .science3,
  .rocket3,
  .comp3,
  .graph3 {
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .carre4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0;
  }

  .top4 {
    padding: 0px;
  }

  .image4 {
    width: 324px;
    box-shadow: none;
    padding: 0px 0px 0px 0px;
  }

  .photo4 {
    width: 100%;
    margin: 0;
  }
  .photo4 img {
    width: 100%;
  }
  .bord4 {
    width: 342px;
  }
}

@media screen and (max-width: 768px) {
  .B1 {
    display: grid;
    justify-content: center;
  }
  .leftB1 {
    margin: 20% 0px 0px 0px;
  }
  .leftB1 img {
    width: 100%;
  }
  .rightB1 {
    margin: 0px 0px 15% 0px;
  }
  .rightB1 span {
    max-width: 600px;
  }
}

@media screen and (max-width: 440px) {
  .B1 {
    display: grid;
    justify-content: center;
    margin-left: 22%;
    width: 417px;
  }
  .leftB1 {
    margin: 20% 0px 0px 0px;
  }
  .leftB1 img {
    width: 92%;
    margin-top: 10%;
  }
  .rightB1 {
    margin: 0px 0px 15% 0px;
  }
  .rightB1 span {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .blocB2 {
    display: flex;
    flex-direction: column;
    min-width: 105%;
  }

  .bloc5 {
    margin-top: 15%;
    margin-left: -4%;
    width: 812px;
  }

  .blocTriangles{
    display: flex;
    width: 671px;
    margin-left: -6%;
  }
  .rightB2 {
    margin: 15% 0px 0px 5%;
  }
  .leftB2 {
    margin: 5% 4% 20% 4%;
  }
  .txtRB2 span {
    max-width: 605px;
    font-size: 15px;
  }

  .bottomB2 {
    padding: 44px;
  }

  .cadre5 {
    padding-right: 469px;
    text-align: left;
  }
}

@media screen and (max-width: 440px) {
  .blocB2 {
    flex-direction: column;
    padding: 10px;
    height: 1628px;
    width: 125%;
  }

  .rightB2,
  .leftB2 {
    width: 100%;
    margin: 10px 0;
  }

  .txtRB2 h2 {
    font-size: 48px;
    max-width: 299px;
    margin-top: -22%;
  }

  .txtRB2 p,
  .txtRB2 span {
    font-size: 24px;
  }

  .txtLB2 select {
    padding: 16px;
    max-width: 446px;
    margin-left: 5%;
    font-size: 14px;
  }

  .intRB2 {
    flex-direction: column;
    align-items: left;
    text-align: left;
    font-size: 29px;
  }

  .int1RB2 h2,
  .int2RB2 h2 {
    font-size: 40px; /* Réduit la taille des chiffres */
  }

  .leftB2 {
    padding: 20px;
    max-height: auto;
    max-height: 477px;
    max-width: 472px;
    margin-left: 3%;
  }

  .cadre1,
  .cadre2,
  .cadre3,
  .cadre4,
  .cadre5 {
    padding: 16px;
    font-size: 14px;
    max-width: 429px;
    margin-left: 5%;
  }

  .cadre5 {
    padding: 16px;
    max-width: 460px;
    margin-left: 5%;
    font-size: 14px;
  }

  .bottomB2 {
    padding: 43px;
  }
}

@media screen and (max-width: 768px) {
  .BLOC1 {
    overflow: hidden;
    background-image: url(bgslider.jpg);
    padding-left: 3%;
    min-width: 102%;
  }

  .bloc4 {
    min-width: 104.6%;
  }

  .bloc1 {
    padding-left: 0;
    background-image: none;
  }
  .bluebar {
    width: 97%;
    height: 30px;
  }

  .menuBoutton {
    display: flex;
    width: 20%;
    height: 20%;
    margin: 2% 0% 0% 77%;
  }

  .menuBoutton2 {
    display: flex;
    width: 20%;
    height: 20%;
    margin: 2% 0% 0% 58%;
  }

  .menuBoutton3 {
    display: flex;
    width: 20%;
    height: 20%;
    margin: 2% 0% 0% 124%;
  }
  .Menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .main img {
    max-width: 768px;
    margin-top: 0;
    overflow: hidden;
  }
  .pic {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-bottom: 15%;
    height: 640px;
  }
  .pic img {
    width: 696px;
  }
  .text1 {
    position: absolute;
  }
  .text1 h1 {
    font-size: 91px;
    max-width: 600px;
  }
  .text1 p {
    max-width: 505px;
    font-size: 19px;
  }

  .top5 {
    flex-direction: column;
    height: auto;
    padding: 20px;
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 98.4%;
  }

  

  .topTexte5 {
    margin: 20px auto;
    width: 80%;
  }

  .pics15 {
    margin-right: 20px ;
  }

  .bottom5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0;
  }

  .menu15,
  .menu25,
  .menu35,
  .menu45 {
    margin: 15px 0;
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .photo4 {
    width: 66%;
    margin-bottom: 1%;
    margin-top: 20%;
    margin-left: 15%;
  }

  .bord4 {
    max-width: 139px;
    margin-top: -6%;
  }

  .bloc4 {
    min-width: 128.6%;
  }
}

@media screen and (max-width: 440px) {
  .BLOC1 {
    overflow: hidden;
    background-image: url(bgslider.jpg);
    padding-left: 3%;
    min-width: 126%;
  }

  .bloc1 {
    padding-left: 0;
    background-image: none;
  }
  .bluebar {
    width: 97%;
    height: 30px;
  }
  .Menu {
    display: none;
  }
  .contact {
    display: none;
  }

  .menuBoutton {
    display: initial;
  }
  .main img {
    max-width: 768px;
    margin-top: 0;
    overflow: hidden;
  }
  .pic {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-bottom: 15%;
    height: 640px;
  }
  .pic img {
    width: 696px;
  }
  .text1 {
    position: absolute;
  }
}

@media screen and (max-width: 440px) {
  .top5 {
    flex-direction: column;
    height: auto;
    padding: 20px;
    min-width: 115%;
  }
}

@media screen and (max-width: 440px) {
  .leftB3 {
    display: none;
    margin-left: 20%;
  }

  .middleB3 {
    margin-left: 30%;
  }
}

@media screen and (max-width: 768px) {
  .rightB3 {
    display: none;
  }
  .leftB3 {
    margin-left: 5%;
  }
  .middleB3 {
    margin-left: 0%;
  }
  .bottomB3 {
    display: flex;
    justify-content: center;
  }
  .btnB3 {
    max-width: 30%;
  }
}

/*---------------------------------------BLOC 2 ----------------------------------------*/
@media (max-width: 768px) {
  .blocB22 {
    background-image: unset;
    min-width: 2000px;
  }

  .blocB22 {
    margin-right: 10%;
  }
  .section {
    max-width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  .section h2 {
    font-size: 1.5em;
    margin-left: -8%;
  }

  .section p {
    font-size: 0.9em;
    margin-bottom: 20px;
    margin-left: -8%;
  }

  .boutton {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
  }

  .reponse {
    font-size: 0.85em;
    padding: 10px;
  }

  .bleu {
    font-size: 180%;
  }

  .texte {
    font-size: 90%;
    margin-left: -6%;
    margin-top: 1%;
  }

  .section p{
    min-width: 40%;
  }
}

@media (max-width: 1024px) {
  .top5 {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .topTexte5 {
    margin: 20px auto;
    width: 80%;
  }

  .pics15 {
    margin: 20px auto;
  }

  .bottom5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0;
  }

  .menu15,
  .menu25,
  .menu35,
  .menu45 {
    margin: 15px 0;
    text-align: center;
  }
}

/* ----------------------- BLOC 3 -----------------------------------*/

@media screen and (max-width: 768px) {
  .bande-bleue {
    width: 97%;
    height: 30px;
  }
  .bande-bleue p {
    font-weight: 400;
    padding-bottom: 5%;
    text-align: center;
  }
  .fond-back {
    padding-left: 3%;
  }
  .contact1{
    display: none;
  }
  .Menu2{display: none;}
  .logo {
    margin-left: 0%;
  }
  .main {
    margin-left: 0%;
  }
  .infos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .infos-2 p {
    padding-right: 0%;
  }
  .titre {
    width: 400px;
  }
  .titre p {
    margin: 0;
  }
  button.remonte {
    display: block;
    justify-content: center;
    color: white;
    cursor: pointer;
    background-color: #0765ff;
    padding: 10px 15px;
    border: none;
    margin: auto 0%;
    border-radius: 30px;
    margin-top: 20%;
  }
}

/*Bloc Femme t-shirt Rose*/

@media screen and (max-width: 768px) {
  .centre {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
  }
  .gauche {
    width: 675px;
  }
  .gauche h1 {
    max-width: 90%;
  }
  .gauche p {
    font-size: 19px;
  }
  button.bouttonStart {
    margin-left: 2%;
    width: 93%;
  }
  .droite {
    display: flex;
    width: 768px;
    justify-content: center;
    margin-left: -8%;
  }

  .haut {
    display: none;
  }
}
/* Bloc numéro */

@media screen and (max-width: 768px) {
  .sous-partie {
    width: 54%;
    height: 223px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-repeat: no-repeat;
    padding-right: 20%;
    padding-left: 20%;
  }
  .num {
    height: 60px;
  }
  .num h6 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .bloc2 {
    width: 109%;
    margin-left: -4%;
  }
  .part2 {
    height: 1152px;
    width: 109%;
    display: flex;
  }
}

/*Bloc millieu*/
@media screen and (max-width: 768px) {
  .milieu {
    margin: 5% 0% 0% 0%;
    display: flex;
    flex-direction: column;
  }
  .blue5 h6{
    margin-left: 6%;
  }
  .contenue {
    width: 768px;
    margin-left: 5%;
  }
  .bloc_du_bas {
    display: none;
  }
  .bloc_du_haut {
    display: none;
  }
  .copy {
    display: none;
  }
  .blocphoto {
    margin-left: -3%;
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: -11%;
    background-color: #fafafc;
    width: 107%;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }
  .service-photo {
    background-color: white;
    background-color: white;
    width: 330px;
    border-radius: 10px;
    display: block;
    padding: 20px;
    text-align: center;
    margin-left: 5%;
    margin-top: -41%;
    margin-bottom: 43%;
  }
}

/**aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa**/
.avatar img{
  margin-left: 38%;
  margin-top: 16%;
  width: 620px;
  animation: moveBack 1.5s ease-in-out infinite alternate;
}

@keyframes moveBack {
  0% {
      transform: translateY(0); /
  }
  100% {
      transform: translateY(-10px); 
  }
  100%{
      transform: translateY(10px); 
  }
}

/* ----------------------------------------- FAQ ---------------------------------- */
/*FAQ responsive 768Px 
Haut de la page*/
@media (max-width: 768px) {
  .fond-back{
    padding-left: 3%;
  }
  .logo{
    margin-left: 0%;
  }
  .main{
    margin-left: 0%;
  }
  .titre2{
    margin-right: 0%;
  }
  .haut{
    align-items: start;
    display: initial;
  }
  .titre2 p {
    font-family: "Fredoka", sans-serif;
    color: #131767;
    font-size: 70px;
    font-weight: 500;
    margin-right: 89%;
    margin-top: 24%;
}
/*Question*/

  .backColor{
    background-image: none;
  }
  .section{
    margin-left: 0%;
  }
  .section p{
    max-width: 100%;
  }
  .boutton{
    width: 100%;
  }

/*Homme*/

  .imgMen{
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    margin-left: 0%;
    min-width: 768px;
    align-items: center;
  }
  .rightSideB22{
    margin: 0px 0px 0px 0px;
  }
  .rightSideB22 img{
    margin: 5% 0px 0px 0%;
  }
  .txtLB22{
    margin-top: 0%;
    text-align:center;
  }

  .cadre55{
    background-color: #2667ff;
    color: white;
    padding-right: 70px;
    margin-bottom: 20px;
    padding: 20px 247px 20px 166px;
    max-width: 9px;
    font-weight: 500;
    margin-left: 18%;
  }
  .leftSideB22{
    margin-top: 5%;
    padding: 0px 0px 0px;
    width: 647px;
  }
  .txtLB22 h2{
    margin-left: -53%
  }
  .txtLB22 p{
    margin-left: 110px
  }
  /*Footer*/
  .bloc5 {
    width: 102%;
    margin-top: -5%;
  }
}