body,
html {
    margin: 0;
    height: 100%;
    background: #333;
}


.container {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    align-items: stretch;
    width: 1024px;
}

.liste {
    height: auto;
    margin-left: -20px;
}

.photo {
    background-color: #ffffff;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.element1 {
    border-top: 10px #D9E9F5 dotted;
    border-right: 10px #D9E9F5 double;
    border-bottom: 10px #D9E9F5 dashed;
    border-left: 300px #D9E9F5 solid;
    border-radius: 20px;
    background-color: #D9E9F5;
}

.element2 {
    border-top: 10px #D9E9F5 dotted;
    border-right: 10px #D9E9F5 double;
    border-bottom: 10px #D9E9F5 dashed;
    border-left: 200px #D9E9F5 solid;
    border-radius: 20px;
    background-color: #D9E9F5;
}

.element3 {
    border-top: 10px #D9E9F5 dotted;
    border-right: 10px #D9E9F5 double;
    border-bottom: 10px #D9E9F5 dashed;
    border-left: 100px #D9E9F5 solid;
    border-radius: 20px;
    background-color: #D9E9F5;
}

.contact {
    display: flex;
    align-items: center;
}


.langues {
    display: flex;
    align-items: center;
}


.left-section {
    background-color: #ffffff;
    padding: 40px;
    width: 35%;
    display: flex;
    align-items: left;
    flex-direction: column;
}





.right-section {
    background-color: #DAE6F2;
    padding: 45px;
    width: 65%;
}

img {
    max-width: 70%;
    height: auto;
    margin-bottom: 7px;
}

.icon {
    width: 5%;
    height: auto;
    position: relative;

}

.icon2 {
    width: 8%;
    height: auto;
    position: relative;

}


.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box {
    background-color: white;
    padding: 9px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.interet {
    display: flex;
    align-items: center;
    /* Centre verticalement l'icône et le numéro */
}

.date {
    color: #9EA9B1
}

.sous-titre {
    display: flex;
    align-items: center;
    /* Centre verticalement l'icône et le numéro */
}

.police {
    font-family: Helvetica, sans-serif;
}

.subtitle {
    font-family: est;
}